<!DOCTYPE html>
<html>

<head>
  <title>Filmly</title>
</head>

<body>
    <hl>Filmly</hl>
    {% if session.username %}
    <p>
        You are logged in as: {{ session.username }} <br>
        UID: {{session.user_id}}
    </p>

    <p>
        <a href="/logout">Log out</a>
        <a href="/new_item">New review</a>
    </p>
    {% else %}
    <p>
        <a href="/login">Log in</a>
        <a href="/register">Register</a>
    </p>
    {% endif %}

    <h2>Reviews</h2>
    <ul>
        {% for item in items %}
      <li>
        <a href="/item/{{ item.id }}">{{ item.movie }}</a> Score: {{ item.score }}
      </li>
        {% endfor %}
    </ul>
</body>
</html>