<!DOCTYPE html>
<html>

<head>
  <title>{{ item.title }}</title>
</head>

<body>
  <h1>{{ item.title }} </h1>
    {% if session.user_id == item.user_id %}
    <p>
        <a href="/edit_item/{{ item.id }}">Edit post</a>
        <a href="/remove_item/{{ item.id }}">Remove post</a>
    </p>
    {% endif %}
    <p>
        {{ item.movie }}
    </p>
    <p>
        {{ item.review }}
    </p>
    <p>
        Score: {{ item.score }}/5
    </p>
    <p>
        Review posted by: {{ item.username }}
    </p>
    <p>
    <a href="/" >Return to main page</a>
    </p>
</body>

</html>